---
---
<div id="nosostros" class="w-full mt-12 mb-12 bg-blue-500 text-white py-12">
    <div class="px-32">
        <div class="py-8">
            <h3 class="text-3xl font-semibold mb-6">Nuestro Equipo:</h3>
            <p class="text-lg">El equipo de "SIMA Health Solutions" esta conformado por un grupo de profesionales enfocados al Sector Salud en México, y cuenta con más de 30 años de experiencia en el sector salud público y privado en México.</p>
        </div>
        <div >
            <h3 class="text-3xl font-semibold mb-6">Beneficios de "SIMA":</h3>
            <div class="flex">
                <ul class="list-disc pl-8 text-lg w-1/2">
                <li>Aumento de la productividad operativa.</li>
                <li>Mayor eficacia y eficiencia de la atención médica.</li>
                <li>Mejora del control administrativo y reducción de costos operativos.</li>
            </ul>
            <ul class="list-disc pl-8 text-lg w-1/2">
                <li>Reducción de gastos con el control de insumos y medicamentos.</li>
                <li>Apego a las normativas vigentes.</li>
                <li>Incremento de la satisfacción de los Pacientes.</li>
            </ul>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <div class="flex justify-between gap-4 px-32">
            <div class="w-1/3 rounded-lg shadow-lg p-6 ">
                <h3 class="text-3xl font-semibold text-center mb-6">Misión</h3>
                <p class="text-lg">Colaborar con la transformación de la era digital del sector salud en México, a través de soluciones tecnológicas innovadoras, eficaces y eficientes.</p>
            </div>
            <div class="w-1/3 rounded-lg shadow-lg p-6 ">
                <h3 class="text-3xl font-semibold text-center mb-6">Visión</h3>
                <p class="text-lg">Ser la empresa líder en servicios tecnológico-administrativos del sector salud en México.</p>
            </div>
            <div class="w-1/3 rounded-lg shadow-lg p-6 ">
                <h3 class="text-3xl font-semibold text-center mb-6">Valores</h3>
                <ul class="list-disc pl-8 text-lg">
                    <li>Compromiso.</li>
                    <li>Honestidad</li>
                    <li>Igualdad.</li>
                    <li>Transparencia.</li>
                </ul>
            </div>
        </div>
    </div>
</div>