---

---

<section id="contacto" class="w-full mt-12 mb-12 px-32">
    <h2 class="text-4xl font-semibold py-4">Contacto</h2>
    <div class="flex justify-center gap-12">
        <div class="w-1/3 flex flex-col items-start justify-center space-y-12">
            <p class="text-2xl">Telefono: +52 722 581 3721</p>
            <p class="text-2xl">Whatsapp: +52 55 7202 6882</p>
            <p class="text-2xl">Email: contacto@simahs.com</p>
        </div>

        <div class="w-2/3">
            <h3 class="text-3xl font-semibold py-4">Recibe atención personalizada:</h3>
            <form action="" class="flex flex-col gap-4 bg-zinc-50 p-8 rounded-lg shadow-lg">
                <input type="text" placeholder="Nombre" class="p-2 border-2 border-blue-500 rounded-lg w-full" />
                <input type="email" placeholder="Email" class="p-2 border-2 border-blue-500 rounded-lg w-full" />
                <input type="text" placeholder="Asunto" class="p-2 border-2 border-blue-500 rounded-lg w-full" />
                <textarea placeholder="Mensaje" class="p-2 border-2 border-blue-500 rounded-lg w-full h-24 resize-none"></textarea>
                <button type="submit" class="bg-blue-500 text-white px-12 py-3 rounded-full text-lg mt-8">Enviar</button>
            </form>
        </div>
    </div>
</section>