---
import '@fontsource-variable/montserrat';
---

<footer class="w-full mt-12 bg-blue-950 text-white py-12">
    <div class="flex justify-center gap-12">
        <h2>© 2025 SIMA Health Solutions. Todos los derechos reservados.</h2>
        <p>Desarrollado por <a href="https://github.com/rafpsyDev" target="_blank">Rafael Rosales Rivas</a></p>
    </div>
</footer>
<style>
    footer {
        font-family: "Montserrat Variable", sans-serif;
    }
</style>
