---
import CardServices from "../components/CardServices.astro";
---
<div id="servicios" class="w-full mt-12">
    <h2 class="text-4xl font-semibold py-4">Nuestros Servicios</h2>
    <div class="flex justify-center gap-12">
        <CardServices image="/assets/services/hospital.webp" title="SIMA Hospitales" description="El Sistema Integral Médico Administrativo (SIMA), está enfocado en unidades que cuentan con servicios médicos hospitalarios y quirúrgicos." />
        <CardServices image="/assets/services/clinica.webp" title="SIMA Clínicas" description="Sistema dirigido a todo tipo de clínicas que ofrecen atención médica especializada ambulatoria." />
        <CardServices image="/assets/services/consultorio.webp" title="SIMA Consultorios" description="Sistema diseñado para profesionales de la salud que ofrecen servicios médicos de consulta externa." />
    </div>
</div>
